In [2]:
import pandas as pd
import re

In [3]:
# Import data
df = pd.read_csv('linkedin_job_all.csv')
df.head()

,Unnamed: 0,job_link,job_skills,job_summary,job_title,company,city,state,first_seen
0,0,https://www.linkedin.com/jobs/view/housekeeper...,"building custodial services, cleaning, janitor...",Department:\nBuilding Custodial Services\nSala...,Housekeeper I - PT,Jacksonville State University,Metro Jacksonville,NaN,2024-01-12
1,1,https://www.linkedin.com/jobs/view/assistant-g...,"customer service, restaurant management, food ...",Summary Of Key Responsibilities\nThis position...,Assistant General Manager - Huntington 4131,Ruby Tuesday,Barboursville,WV,2024-01-13
2,2,https://www.linkedin.com/jobs/view/school-base...,"applied behavior analysis (aba), data analysis...",Make a difference every day by joining CCRES a...,School-based Behavior Analyst,CCRES Educational and Behavioral Health Services,Boyertown,PA,2024-01-13
3,3,https://www.linkedin.com/jobs/view/electrical-...,"electrical engineering, project controls, sche...",Requisition ID: 271524\nRelocation Authorized:...,Electrical Deputy Engineering Group Supervisor,Energy Jobline,Ogden,UT,2024-01-12
4,4,https://www.linkedin.com/jobs/view/electrical-...,"electrical assembly, point to point wiring, st...",Job Description\nProduction Specialist\nElectr...,Electrical Assembly Lead,Sanmina,Pleasant Prairie,WI,2024-01-12

In [4]:
# Distinct values
df['state'].nunique()
# Total: 290 states in and out of USA

290

In [5]:
# Calculte rows with state in US

# 50 US state abbreviations
state_ab = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
            'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
            'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
            'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
            'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

# Convert 'state' column to upper case and remove leading/trailing whitespace
df['state'] = df['state'].str.upper().str.strip()

num_rows = df['state'].isin(state_ab).sum()
percent = num_rows/len(df)*100
round(percent, 2)

81.87

In [6]:
# Calculte rows with missing state values
mis_rows = df['state'].isnull().sum()
mis_percent = mis_rows/len(df)*100
round(mis_percent, 2)

1.41

In [7]:
# Calculte rows with states out of US
100-round(percent, 2)-round(mis_percent, 2)

16.719999999999995

In [8]:
df['job_title'].nunique()

564796

In [9]:
# Count job titles frequency
from collections import Counter
counts = Counter(df['job_title'])

# Top20 titles based on frequency
top20_titles = counts.most_common(20)
top20_titles

[('LEAD SALES ASSOCIATE-FT', 7315),
 ('Shift Manager', 5500),
 ('First Year Tax Professional', 5351),
 ('Customer Service Representative', 5164),
 ('Assistant Manager', 5066),
 ('LEAD SALES ASSOCIATE-PT', 4911),
 ('Store Manager', 4739),
 ('CUSTOMER SERVICE REPRESENTATIVE', 4211),
 ('Registered Nurse', 4142),
 ('Hourly Supervisor & Training', 2883),
 ('Host', 2861),
 ('Travel Allied Health Professional - CT Technologist', 2717),
 ('Account Executive', 2614),
 ('Senior Accountant', 2493),
 ('Restaurant Manager', 2279),
 ('Veterinarian', 2192),
 ('Hourly Supervisor and Training', 2179),
 ('Executive Assistant', 2020),
 ('Assistant General Manager', 1998),
 ('OPERATIONS ASSISTANT MANAGER', 1960)]

In [10]:
# Top100 titles
top_titles = counts.most_common(100)
top100_titles = [title for title, counts in top_titles]  # Extract top100 titles
total = sum([counts for title, counts in top_titles])
total

149990

In [11]:
# Filter out rows with 50 US state abbreviations and top100 titles; only keep the columns 'state' and 'job_title'
df_filtered = df[df['state'].isin(state_ab) & df['job_title'].isin(top100_titles)]
df_filtered = df_filtered[['state', 'job_title']]
df_filtered.head()

   state                                          job_title
13    ND  Travel Allied Health Professional - CT Technol...
19    OK                          Assistant General Manager
24    CO                                 Accounting Manager
27    KY                            LEAD SALES ASSOCIATE-FT
29    VA                              Automotive Technician

In [12]:
len(df_filtered)

133489

In [13]:
df_filtered.to_csv('data_cleaning_title_state.csv')