In [1]:
import pandas as pd

In [4]:
#Load data
df = pd.read_csv('job_skills_detail.csv')
df.head()

,Unnamed: 0,id,job_link,job_skills_new
0,0,1,https://www.linkedin.com/jobs/view/housekeeper...,building custodial services
1,1,2,https://www.linkedin.com/jobs/view/housekeeper...,cleaning
2,2,3,https://www.linkedin.com/jobs/view/housekeeper...,janitorial services
3,3,4,https://www.linkedin.com/jobs/view/housekeeper...,materials handling
4,4,5,https://www.linkedin.com/jobs/view/housekeeper...,housekeeping

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26924758 entries, 0 to 26924757
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   id              int64
 2   job_link        object
 3   job_skills_new  object
dtypes: int64(2), object(2)
memory usage: 821.7+ MB

In [8]:
#Distinct values
df['job_skills_new'].nunique()

2739208

In [15]:
#Count job skills frequency
from collections import Counter
counts = Counter(df['job_skills_new'])

#Top20 skills based on frequency
top20_skills = counts.most_common(20)
top20_skills

[('communication', 370142),
 ('customer service', 278108),
 ('teamwork', 227612),
 ('communication skills', 195965),
 ('leadership', 185194),
 ('problem solving', 149040),
 ('time management', 142918),
 ('attention to detail', 133985),
 ('problemsolving', 129338),
 ('project management', 121567),
 ('interpersonal skills', 100276),
 ('patient care', 99925),
 ('sales', 93032),
 ('nursing', 88015),
 ('collaboration', 87117),
 ('training', 83658),
 ('data analysis', 81966),
 ('microsoft office suite', 75548),
 ('organizational skills', 75282),
 ('inventory management', 71910)]

In [51]:
#Top 10000th skill
counts.most_common(10000)[-1]

('licensed marriage and family therapist', 239)

In [50]:
#Filter the top 10000 skills
top_skills = counts.most_common(10000)
total = sum([counts for skill, counts in top_skills])
percent = total/len(df)
percent

0.6489179958460537

In [31]:
#Stemming: reduce words to their basic form or stem
from nltk.stem.snowball import EnglishStemmer

def skills_stem(text): 
    if isinstance(text, str):
        stemmer = EnglishStemmer() 
        words = text.split()
        stem_words = [stemmer.stem(word) for word in words]
        return " ".join(stem_words)
    else:
        return text

In [32]:
df['job_skills_stem'] = df['job_skills_new'].apply(skills_stem)
df['job_skills_stem'].head()

0    build custodi servic
1                   clean
2         janitori servic
3            materi handl
4               housekeep
Name: job_skills_stem, dtype: object

In [33]:
#Distinct values
df['job_skills_stem'].nunique()

2503112

In [35]:
#Count job skills stem frequency
counts_stem = Counter(df['job_skills_stem'])

#Top20 skills based on frequency
top20_skills_stem = counts_stem.most_common(20)
top20_skills_stem

[('communic', 376446),
 ('custom servic', 278605),
 ('teamwork', 228057),
 ('communic skill', 196656),
 ('leadership', 185372),
 ('problem solv', 149256),
 ('time manag', 143100),
 ('attent to detail', 134365),
 ('problemsolv', 129563),
 ('project manag', 122716),
 ('interperson skill', 100393),
 ('patient care', 99994),
 ('sale', 93162),
 ('nurs', 90505),
 ('collabor', 89457),
 ('train', 84515),
 ('data analysi', 82051),
 ('microsoft offic suit', 75826),
 ('organiz skill', 75383),
 ('inventori manag', 72034)]

In [37]:
#Filter the top 10000th skill stem
counts_stem.most_common(10000)[-1]

('administr paperwork', 238)

In [52]:
#Filter the top 10000 skills
top_skills_stem = counts_stem.most_common(10000)
total_stem = sum([counts for skill, counts in top_skills_stem])
percent_stem = total_stem/len(df)
percent_stem

0.66967576830217

In [55]:
#Filter the top 2000 skills
top2000_stem = counts_stem.most_common(2000)
total2000_stem = sum([counts for skill, counts in top2000_stem])
percent2000_stem = total2000_stem/len(df)
percent2000_stem

0.5147729461486711